:root{
    --darkPurple: #1B003F;
    --purple: #4c008299;
    --white: #E6E6FA;
    --lightBlue: #6495ED;

    --hoverWhite:#e6e6fa66;
}


body{
    margin: 0;
    background-color:var(--darkPurple);
    margin-left: 20px;
}

ul{
    max-width: 480px;
    padding-left: 0;
}
li{
    display: flex;
    color: var(--white);
    padding: 10px;
    border: 1px solid var(--white);
    background-color: var(--purple);
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

li:hover{
    background-color: var(--hoverWhite);
}

button{
    border-radius: 5px;
    padding: 5px;
    background-color: var(--purple);
    border: 2px solid  var(--white);
    color: var(--white);
}

button:hover{
    background-color: var(--hoverWhite);
}

.divButtons{
    display: flex;
    gap: 8px;
}

.deleteBtn{
    border: 1px solid rgb(245, 75, 75);
}

.editBtn{
    border: 1px solid  #4682D5;
}

input{
    background-color: var(--purple);
    border:1px solid rgba(255, 255, 255, 0.56);
    padding: 5px;
    border-radius: 5px;
}

h1{
    color: whitesmoke;
    text-shadow:0px 2px 10px #131312;
}
